html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    float: left;
    width: 20%;
    height: 58px;
    margin: 10px;

}

header img {
    float: center;
    height: 110%;
    margin-left: 45px;
    margin-bottom: 0px;
    
}

#title {
    float: right;
    background-color: #2283c9;
    width: 70%;
    padding: 0px;
    margin: 10px 10px 10px 0px;
}

#title h1 {
    height: 100%;
    margin: 0px;
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
}

body {
    margin: 0px;
}

#maislido {
    padding-right: 20px;
    float: right;
    background-color: whitesmoke;
    width: 29%;
    height: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
}

#maislido h1 {
    text-align: left;
    font-size: 25px;
    color: #4285F4;
    padding: 20px 0px 20px 20px;
    margin: 10px;
}

#maislido article {
    margin: 25px;
    margin-bottom: 40px;
}

#maislido article img {
    float: left;
    margin: 20px;

}

#maislido article h1 {
    font-size: 20px;
    color: #4285F4;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#maislido article p {
    font-size: 15px;
    font-style: italic;
    color: gray;
    padding: 15px;
    margin-left: 65px;
    margin-top: 0px;
}

#posts {
    padding: 20px;
    float: left;
    background-color: whitesmoke;
    width: 65%;
    height: 100%;
}

#posts h1 {
    text-align: left;
    font-size: 25px;
    color: #4285F4;
    padding: 20px 0px 20px 20px;
    margin: 10px;
}

#posts article {
    background-color: white;
    margin: 25px;
    height: 160px;
}

#posts article h1 {
    font-size: 20px;
    margin-bottom: 0px;
    color: #4285F4;
}

#posts article p {
    font-size: 18px;
    color: black;
    padding: 25px;
    margin-left: 120px;
    margin-top: 0px;
}

#posts article img {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

#footer {
    float: right;
    background-color: #444444;
    width: 100%;
    padding: 20px;
}

#footer p {
    height: 100%;
    margin: 0px;
    text-align: center;
    color: whitesmoke;
    font-size: 16px;
}


@media (max-width: 1340px) {
    
    
    #maislido  {
        float: center;
        width: 100%;
        margin-left: 10px;
        margin-right: 0px;
        padding: 0px;
       
    }

    #maislido article div{
        float: left;
    }

    #maislido div {
        display: flex;
    }
   
    #posts {
        float: right;
        width: 100%;
        margin-left: 10px;
        margin-right: 0px;
        padding: 0px;
    }

    #posts article p {
        font-size: 10px;
    }

    #title {
        float: center;
        background-color: #2283c9;
        width: 100%;
        margin: 10px 0px 10px 0px;
    }

    #title h1 {
        font-size: 30px;
    }

    header {
        float: center;
        width: 100%;
        height: 58px;
        margin-top: 10px;
    
    }

    header img {
        float: center;
        margin-left: 35%;

    }

    #footer p {
        padding: 20px;
        margin: 0px;
        text-align: center;
        color: whitesmoke;
        font-size: 12px;
    }
}

